*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}


.header-section{
    height: 400px;
    background-color: #1F2937;
}

.navbar .conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.conatiner{
    margin: 0 auto;
    padding: 0 100px;
    color: #fff;
}


ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    
}

li{
    font-size: 18px;
}

.logo{
    font-size: 24px;
    font-weight: 700;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 50px 0;
}


.hero-title{
    font-size: 48px;
    color:#fff;
    font-weight: 900;
}

.hero-span{
    display: block;
    font-size: 48px;
    color:#fff;
    font-weight: 900;
}


.hero-para{
    font-size: 18px;
    color: #fff;
    /* flex-shrink: 1; */
    /* white-space: pre-wrap; */
    /* padding: 0 300px 0 0; */
    inline-size: 400px;
    /* margin:0 0 10px 0; */
}


.hero-section img{
    width: 600px;
    height: 200px;
}


.hero-button{
    background-color: #3882F6;
    color: #fff;
    padding: 8px 24px;
    border-radius: 5px;
    margin-top: 10px;
}




.middle-section{
    display: flex;
    flex-direction: column;
    height: 400px;
}


.info-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 20px 0 0 0;
    align-self: center;
    text-align: center;
}



.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto 0;
    text-align: center;
}


.card-1,.card-2,.card-3,.card-4{
    text-align: center;
}


.card-1 img{
    width: 130px;
    border: 2px solid blue;
    border-radius: 5px;

}


.card-2 img{
    width: 130px;
    border: 2px solid blue;
    border-radius: 5px;

}



.card-3 img{
    width: 130px;
    border: 2px solid blue;
    border-radius: 5px;

}


.card-4 img{
    width: 130px;
    border: 2px solid blue;
    border-radius: 5px;

}



.card-text{
    inline-size: 120px;
    font-size: 14px;
    word-spacing: 1px;
    text-align: center;
}



.quote-section{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    /* width: 100%; */
    height: 400px;
}

.quotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 200;
}


.paragrah{
    /* align-self: center; */
    inline-size: 800px;
}



.pn{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 600;
} 





.sicribe-part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}


.combinator{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 5px;
    width: 900px;
    height: 100px;
    color: #fff;
}

.gap{
    font-size: 18px;
    font-weight: 600;
}

.sub-text{
    font-weight: 100;
    color: #dfdfdf;
}

.button-btn{
    border: 2px solid #fff;
    padding: 5px 20px;
    border-radius: 5px;
}




.footer-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #1F2937;
}

.footer-text{
    color: #fff;
    text-transform: capitalize;
}